# IDE / Editor
.idea

# Dependency directory
node_modules/

# Application build / generate output
dist

# Lint cache
.eslintcache

# dotenv environment variables files for local development
.env.*.local
